@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html{
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #87ceeb
}

.message {
    text-shadow: 1px 3px 2px black;
    color: rgb(253, 253, 253);
    margin-left: 15px;
}

.countLetters {
    color:  rgb(253, 253, 253);
}

li {
    display: flex;
    margin: 10px 18px;
    color:  rgb(253, 253, 253);
    font-size: large;
}

.delete{
    cursor: pointer;
    color: rgb(224, 71, 71);
    padding-left: 10px;
}

.edit {
    cursor: pointer;
    color: rgb(0, 90, 35);
    margin-right: 10px;
    margin-left: auto;
    padding-left: 10px;
}

ul {
    padding-inline-start: 0px;
}

li::before{
    content: '★';
    margin-right: 2px;
    color: rgb(255, 123, 0);
}

.section {
    width: 50rem
}

.todoSection {
    text-align: center;
}

.textInput {
    width: 70%;
    height: 45px;
    font-size: 24px;
    border-radius: 10px;
    outline:none;
    padding: 2px 5px;
    letter-spacing: 1px;
}

.add {
    padding: 13px 44px;
    border: 1px solid #9d8a2b;
    border-radius: 8px;
    background: #696969;
    background: linear-gradient(to bottom, #6b6a61, #313131);
    text-shadow: #70631f 1px 1px 1px;
    color: #ffffff;
    outline: none;
    font-size: large;
}
.add:hover,
.add:focus {
    border: 1px solid #575757;
    background: #202020;
    background: linear-gradient(to bottom, #3d3d3d, #111111);
    color: #ffffff;
    text-decoration: none;
}
.add:active {
    background: #252525;
    background: linear-gradient(to bottom, #000000, #2b2b2b);
}

.editText {
    width: 80%;
    font-size: large;
}

.editDoneButton {
    padding: 10px 30px;
    margin-left: auto;
}